<!DOCTYPE html>
<html>
<head>
<title>Tanulmányi Rendszer</title>
<link rel="stylesheet" href="tanulmanyi_rendszer.css">
</head>
<body>

<h1>Üdvözöljük a Debreceni Egyetem Informatikai Kar honlapján</h1>

<ul>
	<li><a href="szakok.html">Szakok</a></li>
	<li><a href="szakok.html">Tárgyak</a></li>
	<li><a href="szakok.html">Oktatók</a></li>
	<li><a href="szakok.html">Események</a></li>
	<li><a href="szakok.html">Hírek</a></li>
	<li><a href="szakok.html">Egyéb</a></li>
	
</ul>


</body>
</html>