<!DOCTYPE html>
<html>
<head>
<title>Tanulmányi Rendszer</title>
<link rel="stylesheet" href="tanulmanyi_rendszer_flex.css">
</head>
<body>

<h1>Üdvözöljük a Debreceni Egyetem Informatikai Kar honlapján</h1>

<div class="nav-bar"> <!--  ez lesz a flex-container div -->
	<div><a href="szakok.html">Szakok</a></div>
	<div><a href="szakok.html">Tárgyak</a></div>
	<div><a href="szakok.html">Oktatók</a></div>
	<div><a href="szakok.html">Események</a></div>
	<div><a href="szakok.html">Hírek</a></div>
	<div><a href="szakok.html">Egyéb</a></div>
<div>	

</body>
</html>