*{
	box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body{
    
    background-image: url('DE-IK.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;

}
.heading{
    margin: auto;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,71,53);
    color:white;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.spinning-logo{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 120px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-container{
	width:350px;
	background-color: rgb(0,71,53);
	padding: 24px;
	margin:auto;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px; 
	margin-bottom: 23px;
	background-color: rgb(255,171,13);
    color:black;
	padding: 12px 20px;
	width: 250;
	border-radius:8px;
}

label {
    display: flex;
    //justify-content: center;
    align-items: center;
    text-align: left;
    width: 80px;    
}

input[type=button], input[type=submit]{
    margin: 5px;
    border-radius:4px;
    width: 100px;
    height: 30px;
}

input[type=password], input[type=text]{
	padding: 5px 5px;
	margin: 8px 0;
	border:2px solid rgb(100, 100, 100);
	border-radius: 4px; 
}

